body{
    margin:0;
   padding:0;
   height:100%;
}
/* Conteúdo referente ao Logo e cabeçalho */
.logo {
    width: 150px;
}
.cabecalho{
border: solid 0px;
margin: 0;
background: #44b6c9;
}
#search-box {
    position: relative;
    width: 20%;
    float: right;
    margin-top: 1.5%;
}
#search-form {
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
#search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}
#search-box input[type="text"] {
    width: 90%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
}
#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #065867; /*--define a cor do botão Buscar--*/
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}
/* Conteúdo referente ao Menu */

#menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #065867;
}
.menu{
    margin-left: 30%;
    font-size: 20px;
}
.menu-principal {
    display: inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-principal a:hover{
    color: #303030;
    background-color: white;
    
}


/** CSS referente ao conteudo da pagina**/

#submenu-sobre{
    margin: 0 auto;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    height: 700px;
    font-family: 'Courier New', Courier, monospace;
}
.alinhamento h1{
    text-align: center;
    font-family: sans-serif;
}
#submenu-sobre h1{
    margin-top: 30px;
    font-size: 40px;
}
#submenu-sobre img:hover{
    transition: all 1.0s ease;
    transform: scale(1.1);
    opacity: 1.0;
}
#submenu-sobre img{
    margin-top: 15px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    opacity: 0.5;
}
.historia{
    float: left;
    position:relative;
    padding: 10px;
    margin-left: 10%;
}
.trabalhe{
    float: left;
    position:relative;
    padding: 10px;
    margin-left: 2%;
}
.fale{
    float: left;
    position:relative;
    padding: 10px;
    margin-left: 2%;
}
.alinhamento p{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

/* Rodapé */


.rodape {
    margin: 0 auto;
    clear: both;
    background-color: #222222;
    width: 90%;
    height: 50px;
    border-radius: 20px;
}
.rodape {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.rodape p{
    padding: 15px;
    text-align: center;
}